    /*                  .------.
           /  ~ ~   \,------.      ______
         ,'  ~ ~ ~  /  (@)   \   ,'      \
       ,'          /`.    ~ ~ \ /         \
     ,'           | ,'\  ~ ~ ~ X     \  \  \
   ,'  ,'          V--<       (       \  \  \
 ,'  ,'               (vv      \/\  \  \  |  |
(__,'  ,'   /         (vv   ""    \  \  | |  |
  (__,'    /   /       vv   """    \ |  / / /
      \__,'   /  |     vv          / / / / /
          \__/   / |  | \         / /,',','
             \__/\_^  |  \       /,'',','\
                    `-^.__>.____/  ' ,'   \
                            // //---'      |
          ===============(((((((=================
                                     | \ \  \
                                     / |  |  \
                                    / /  / \  \
                                    `.     |   \
Design by Clémence Fontaine           `--------'
*/
    
    @font-face {
        font-family: "mazius";
        src: url("./font/Mazius\ Display\ Extraitalic.otf");
    }
    
    @font-face {
        font-family: "ortica";
        src: url("./font/Ortica-Light.otf");
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: white;
        font-size: 10px;
        -webkit-font-smoothing: antialiased;
        cursor: crosshair;
    }
    
    footer {
        bottom: 0;
    }
    
    h1 {
        font-size: 3em;
        font-family: sans-serif ;
        font-style: normal;
        font-weight: lighter;
        color: rgb(7, 34, 182);
        text-align: center;
        line-height: 0.8em;
        padding: 0em 0em 0em 0em;
        cursor: crosshair;
    }
    
    h2 {
        color: rgb(7, 34, 182);
        text-align: center;
        font-size: 1.5em;
        font-weight: lighter;
        line-height: 1.25em;
        font-family: sans-serif;
        font-style: normal;
        padding: 0.5em 0em 0.5em 0em;
        cursor: crosshair;
    }
    
    .logo {
        position: fixed;
        bottom: 1em;
        right: 0em;
        line-height: 40px;
        font-family: sans-serif;
        cursor: crosshair;
        font-size: 2em;
        color: rgb(7, 34, 182);
        float: right;
        width: 41vh;
        margin-left: 10px;
        padding: 2em 1em 1em 0em;
    }
    
