    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-size: 10px;
        -webkit-font-smoothing: antialiased;
        cursor: crosshair;
    }
    
    footer {
        bottom: 0;
    }
    
    h1 {
        font-size: 4em;
        font-family: sans-serif ;
        font-style: normal;
        color: rgb(7, 34, 182);
        text-align: center;
        line-height: 0.8em;
        padding: 0em 0em 0em 0em;
        cursor: crosshair;
    }
    
    h2 {
        color: rgb(7, 34, 182);
        text-align: center;
        font-size: 2.5em;
        line-height: 1.25em;
        font-family: sans-serif;
        font-style: normal;
        padding: 0.5em 0em 0.5em 0em;
        cursor: crosshair;
    }
    
    .logo {
        position: fixed;
        bottom: 1em;
        right: 0em;
        line-height: 40px;
        font-family: sans-serif;
        cursor: crosshair;
        font-size: 2em;
        color: rgb(7, 34, 182);
        float: right;
        width: 41vh;
        margin-left: 10px;
        padding: 2em 1em 1em 0em;
    }
    
